    <!-- Footer -->
    <footer class="bg-light mt-5 borda-cima">
      <div class="container pt-5">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mn"><img src="img/logo.png" alt="" width="180" class="mb-3">
            <h6 class="text-uppercase font-weight-bold mb-4">Connecto</h6>
            <p class="font-italic text-muted">A nossa Rede Social tem como objetivo de facilitar a conexão de autônomos  com possíveis clientes, com negociações sem intermediário. Assim, ela articula o maior giro da economia com a desejada diminuição da desigualdade social.
            </p>
            <ul class="list-inline mt-4">
              <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter cor-roxa"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook cor-roxa"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram cor-roxa"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/fbsabalete/connecto" target="_blank" title="GitHun"><i class="fa fa-github cor-roxa"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Empresa</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#equipe" class="text-muted">Equipe</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Contato</a></li>
              <li class="mb-2"><a  href="#sobre" class="text-muted text-uppercase  mt-4"> <h6 class="font-weight-bold">Sobre</h6></a></li>
                </ul>
          </div>

          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Noticias</h6>
            <p class="text-muted mb-4">Fique por dentro das atualizações da nossa rede social</p>
            <div class="p-1 rounded border">
              <div class="input-group">
                <input type="email" placeholder="Digite o seu e-mail" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane cor-roxa"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyrights -->
      <div class="bg-light py-4">
        <div class="container text-center">
          <p class="text-muted mb-0 py-2">© 2021 Connecto Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
    <!-- End -->


