<div class="voltar">
  <a>
    <img src="../../assets/img/previous.png" alt="" width="30px" class="rounded-circle borda-branca bg-white">
  </a>
</div>
<div class="container-fluid  capa">
  <div class="foto-nome d-flex flex-column align-items-center ml-5">
    <img class="foto-perfil " src="{{user.fotoPerfil}}" alt="">
    <p class="nome font-weight-bolder text-black mt-2">{{user.nomeCompleto}}</p>
  </div>

</div>
<div class=" d-flex  border-bottom ">
  <ul class="nav nav-tabs d-flex align-items-center justify-content-between m-auto" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show d-flex align-items-center flex-column" id="profile-tab" data-toggle="tab" href="#perfil"
      role="tab" aria-controls="profile" aria-selected="false"><img src="../../assets/img/post.svg"
      alt=""><span>Postagens</span> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center flex-column" id="contact-tab" data-toggle="tab" href="#contato"
      role="tab" aria-controls="contact" aria-selected="false"><img src="../../assets/img/resume.svg" alt="">
      <span>Portifolio</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link d-flex align-items-center flex-column" id="home-tab" data-toggle="tab" href="#home"
        role="tab" aria-controls="home" aria-selected="true"><img src="../../assets/img/user (1).svg"
          alt=""><span>Informações</span> </a>
    </li>
  </ul>

  <!-- <div class="edit position-absolute ">
    <a href="#editarPerfil" data-toggle="modal" data-target="#editarPerfil">
      <img src="../../assets/img/edit.png" alt="" width="30px">
    </a>
  </div> -->

</div>



<div class="container-fluid bg-light">
  <div class="row pt-3">
    <div class="col-md-3  ">
      <div class="col-md-12 borda pt-3 bg-white">
        <div class="row d-flex justify-content-center ">
          <div class="col-md-6 text-center">
            <p class="mb-0 color-roxo font-weight-bold ">5</p>
            <p class="text-secondary">Conexões</p>
          </div>
          <div class="col-md-6 text-center">
            <p class="mb-0 color-roxo font-weight-bold" >6</p>
            <p class="text-secondary">Serviços</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center ">
            <h3 class="border-top pt-2">Sobre Mim</h3>
            <p class="text-justify p-4 text-secondary"> {{user.sobreMim}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 borda pt-3 bg-white">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <h4 class="mt-0">Informações de Contato</h4>
              <p class="infC">Nome: {{user.nomeCompleto}} </p>
              <p class="infC">Telefone: {{ user.telefone }}</p>
              <p class="infC">E-mail: {{ user.email }}</p>

              <h4 class="mt-2 mb-3">Serviços Prestados</h4>
              <div *ngFor="let item of listaCategoria">
                <p class="infC">{{item}}</p>
              </div>

              <div class="edit position-absolute ">
                <a href="#editarPerfil" data-toggle="modal" data-target="#editarPerfil">
                  <img src="../../assets/img/edit.png" alt="" width="30px">
                </a>
              </div>

              <!-- Botão para acionar modal -->
               <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarPerfil">
                  Abrir modal de demonstração
                </button> -->
                  <!-- Botão para acionar modal -->

            </div>
          </div>
          <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
            <app-postagem *ngFor="let item of user.postagem">
              <img class="foto rounded-circle" src="{{ user.fotoPerfil }}" alt="foto-perfil"
                  width="50px" height="50px" />
              <h4 class="nome">{{ user.nomeCompleto }}</h4>
              <p>{{ item.descricaoPost }}</p>
              <img src="{{ item.linkImagem }}" alt="" width="100%" />
              <p class="etiqueta">{{ item.tema.categoria }}</p>
          </app-postagem>
          </div>
          <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="col-md-12 borda pt-3 bg-white">
      airline_seat_individual_suite
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="editarPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <input [(ngModel)]="user.nomeCompleto" (keyup)="validaNome($event)" class="form-control" type="text" name="name"
            placeholder="Nome Completo" required>
          <div class="invalid-tooltip">Digite um nome válido.</div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.email" (keyup)="validaEmail($event)" class="form-control" type="email" name="email" placeholder="E-mail"
            required>
          <div class="invalid-tooltip">Digite um email válido.</div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.fotoPerfil" (keyup)="validaFoto($event)" type="text" class="form-control is-valid" name="link-foto"
            placeholder="Link Foto">
          <div class="invalid-tooltip">A URL deve conter uma foto ou ser vazia.</div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.senha" (keyup)="validaSenha($event)" class="form-control" type="password" name="password"
            placeholder="Senha" required>
          <div class="invalid-tooltip">A senha deve conter entre 5 e 12 caracteres.</div>
        </div>

        <div class="form-group">
          <input (keyup)="confirmSenha($event)" class="form-control" type="password" name="password" placeholder="Confirmar Senha" required>
          <div class="invalid-tooltip">As senhas devem ser iguais.</div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.telefone" (keyup)="validaTelefone($event)" type="text" class="form-control " name="telefone"
            placeholder="Telefone">
          <div class="invalid-tooltip">O telefone deve conter o DDD.</div>
        </div>
        <textarea name="descricao" [(ngModel)]="user.sobreMim" cols="63" rows="5" placeholder="Sobre mim" style="resize: vertical; height: auto;" maxlength="3000"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
        <button (click)='atualizar()' data-dismiss="modal" type="button" class="btn ibtn">Salvar</button>
      </div>
    </div>
  </div>
</div>
