@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap');
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.logo img {
    width: 5rem;
    margin-bottom: 1rem;
}

.menu-lateral {
    background: linear-gradient(180deg, rgba(232, 62, 83, 1) 0%, rgba(40, 40, 91, 1) 50%, rgba(250, 250, 250, 1) 50%);
    width: 300px;
    position: fixed;
    border-right: solid 1px#e7edf2;
    transition: transform 1s;
    z-index: 1;
}

.bd {
    border-radius: 30px;
}

.card-avatar {
    background-color: white;
    border-radius: 7%;
    padding-top: 1rem;
}

.card-texto {
    border-top: solid 1px;
    border-color: rgba(128, 128, 128, 0.281);
}

.card-texto p,
.card-texto span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

.card-texto ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-link.active{
  color: #6D2E8D;
}

.nav-link{
  color:#636b81;
  transition: all 0.3s;
}

.nav-link:hover{
  color:#6D2E8D;
}

.nav-link:hover fa-icon{
  transform: scale(1.05);
}

.card-texto ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 00.5rem;
}

.shape {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: solid 2px #838daa;
}

.foto-perfil{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.info h3 {
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.icones-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.lista-icones {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.lista-icones a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.lista-icones span {
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    transition: 0.3s;
}

.lista-icones img {
    width: 1.5rem;
}

.lista-icones li {
    width: 90px;
}

.lista-icones li fa-icon {
    transition: 0.3s;
}

.menu fa-icon {
    color: rebeccapurple;
}

@media (max-width: 576px) {
    .menu-lateral {
        transform: translateX(-300px);
    }
    #side-menu.ativo {
        transform: translateX(0);
    }
}
