<div class="">
  <!-- nav -->
  <nav class="navbar navbar-expand-lg bg-transparent d-flex fixed-top ">
    <div class="container-fluid ">
      <a class="navbar-brand " href="#"><img src="../../assets/img/logo connecto 1.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item entrar">
            <a class="nav-link botao " href="#" tabindex="-1" aria-disabled="true">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="tela-um ">
    <!--/ nav -->
    <div class="container-fluid d-flex row align-items-center vh-90 global pt-5">
      <div class="text col-md-6 ">
        <h1 class="titulo">Conectando Você Com o Seu Serviço</h1>
        <h3 class="subtitulo">Connecto é o lugar ideal para você divulgar seu trabalho ou contratar um serviço </h3>
        <button class="botao-saiba text-white font-weight-bold"> Saiba Mais </button>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-itens-center ">
        <div class="carrosel  d-none d-md-block">
        <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <img class="d-block efeito-imagem tamanho-imagem" src="../../assets/img/manicure_Medio.jpg"
                alt="Primeiro Slide" >
            </div>
            <div class="carousel-item">
              <img class="d-block efeito-imagem tamanho-imagem" src="../../assets/img/limpar_Medio.jpg"
                alt="Segundo Slide" >
            </div>
            <div class="carousel-item">
              <img class="d-block efeito-imagem tamanho-imagem" src="../../assets/img/cafe_Medio.jpg"
                alt="Terceiro Slide">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>

