<div class="form-body without-side ">
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="images/graphic3.svg" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="img=logo d-flex justify-content-center mb-3">
                        <img width="70px" src="../../assets/img/connecto.svg" alt="">
                    </div>

                    <h3>Login </h3>

                    <form>
                        <input class="form-control" type="text" name="username" placeholder="E-mail" required>
                        <input class="form-control" type="password" name="password" placeholder="Senha" required>
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Login</button> <a href="forget17.html">Esqueceu a senha?</a>
                        </div>
                    </form>
                    <div class="other-links">
                        <div class="text">Ou faça login com:</div>
                        <a href="#">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="#">
                            <fa-icon [icon]="faGoogle"></fa-icon>
                        </a>
                        <a href="#">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </div>
                    <div class="page-links">
                        <a href="#">Criar Conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
