<div class="form-body without-side">
  <div class="website-logo">
    <a href="index.html">
      <div class="logo">
        <img class="logo-size" src="" alt="">
      </div>
    </a>
  </div>
  <div class="row">
    <div class="img-holder">
      <div class="bg"></div>
      <div class="info-holder">
        <img src="images/graphic3.svg" alt="">
      </div>
    </div>
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items ">
          <h3 class=" d-flex justify-content-center mb-4 ">Criar Nova Conta</h3>
          <form>
            <div class="form-group">
              <div class="group">
              <input [(ngModel)]="user.nomeCompleto" (keyup)="validaNome($event)" class="form-control  form-H" type="text" name="name"
                placeholder="" required>
                <label for="name">Nome</label>
                <div class="invalid-tooltip">Digite um nome válido.</div>
              </div>
            </div>

            <div class="form-group">
              <div class="group">
              <input [(ngModel)]="user.email" (keyup)="validaEmail($event)" class="form-control form-H" type="email" name="email" placeholder=""
                required>
                <label for="email">E-mail</label>
              <div class="invalid-tooltip">Digite um email válido.</div>
            </div>
            </div>

            <div class="form-group">
              <div class="group">
              <input [(ngModel)]="user.fotoPerfil" (keyup)="validaFoto($event)" type="text" class="form-control is-valid form-H" name="link-foto"
                placeholder="" required>
                <label for="link-foto">Link foto</label>
              <div class="invalid-tooltip">A URL deve conter uma foto ou ser vazia.</div>
              </div>
            </div>

            <div class="form-group">
              <div class="group">
              <input [(ngModel)]="user.senha" (keyup)="validaSenha($event)" class="form-control form-H" type="password" name="password"
                placeholder="" required>
                <label for="password">Senha</label>
              <div class="invalid-tooltip">A senha deve conter entre 5 e 12 caracteres.</div>
            </div>
            </div>

            <div class="form-group">
              <div class="group">
              <input (keyup)="confirmSenha($event)" class="form-control form-H" type="password" name="password" placeholder="" required>
              <label for="password">Confirmar Senha</label>
              <div class="invalid-tooltip">As senhas devem ser iguais.</div>
            </div>
            </div>

            <div class="form-group">
              <div class="group">
              <input [(ngModel)]="user.telefone" (keyup)="validaTelefone($event)" type="text" class="form-control form-H" name="telefone"
                placeholder="" required>
                <label for="telefone">Telefone</label>
              <div class="invalid-tooltip">O telefone deve conter o DDD.</div>
            </div>
            </div>

            <div class="row">
              <div class="col-md-2 mt-2 pb-0 m-0">
            <div class="form-check">
              <input (change)="validaTermo($event)" class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="opcao1" aria-label="...">
            </div>
          </div>
         <div class="col-md-10 pb-0 m-0 ">
          <p class="mb-0 mt-2 p-0">Ao clicar em Cadastrar, você concorda com nossos Termos e Política de Dados.</p>
        </div>
          </div>




            <div class="form-button d-flex  flex-column">
              <button id="submit" type="submit" class="ibtn" (click)="cadastrar()">Cadastrar</button>
            </div>
          </form>
          <div class="other-links ">
            <div class="text d-flex justify-content-center" >Ou faça login com:</div>
            <div class="list d-flex justify-content-center ">
              <a href="#">
                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#">
                <fa-icon [icon]="faGoogle"></fa-icon>
              </a>
              <a href="#">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>

          </div>
          <div class="page-links d-flex justify-content-end">
            <a routerLink='/entrar'>Fazer Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
