<section class="container-fluid mt-4 px-0 py-4">
  <div class="container">
      <h3 class="text-center">Nosso time:</h3>
      <div class="row mx-lg-5 mx-md-3 ml-sm-auto mr-sm-auto mx-3">
          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 pr-4 pl-2">
              <div class="w-100 h-100">

                  <div class="img-container d-flex">
                      <div class="conteudo">
                          <img src="../../assets/img/gustavo.jpeg" alt="">
                      </div>
                  </div>
                  <div class="borda img-container d-flex flex-column justify-content-around">
                      <a target="_blank" href="https://github.com/GustavoLima1">
                          <div
                              class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                              <img class="z-index-1" src="../../assets/img/github.png" alt=""
                                  style="width: 60%; height: 60%;">
                          </div>
                      </a>
                      <a target="_blank" href="https://www.linkedin.com/in/gustavo-lima-ab0/">
                          <div
                              class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                              <img src="../../assets/img/linkedin.png" alt="" class="z-index-1"
                                  style="width: 60%; height: 60%;">
                          </div>
                      </a>
                      <a target="_blank" href="#">
                          <div
                              class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-1s">
                              <img src="../../assets/img/instagram.png" alt="" class="z-index-1"
                                  style="width: 60%; height: 60%;">
                          </div>
                      </a>
                  </div>
              </div>
              <div class="nome-membro">
                  <h5 class="text-center">Gustavo Lima</h5>
              </div>
          </div>
          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 pr-4 pl-2">
              <div class="img-container d-flex">
                  <div class="conteudo">
                      <img src="../../assets/img/profile-picture.jpg" alt="">
                  </div>
              </div>
              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a href="https://github.com/fbsabalete" target="_blank">
                      <div
                          class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="../../assets/img/github.png" alt=""
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/in/fernando-sabalete/">
                      <div
                          class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-1s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>
              <div class="nome-membro">
                  <h5 class="text-center">Fernando Sabalete</h5>
              </div>
          </div>
          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 pr-4 pl-2">
              <div class="img-container d-flex">
                  <div class="conteudo">
                      <img src="../../assets/img/victor.jpeg" alt="">
                  </div>
              </div>
              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a target="_blank" href="https://github.com/victoraraujo7">
                      <div
                          class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="../../assets/img/github.png" alt=""
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/in/victor-sp/">
                      <div
                          class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-1s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>
              <div class="nome-membro">
                  <h5 class="text-center">Victor Araujo</h5>
              </div>
          </div>

          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 pr-4 pl-2">
              <div class="img-container d-flex">
                  <div class="conteudo">
                      <img src="../../assets/img/candido.jpeg" alt="">
                  </div>
              </div>
              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a target="_blank" href="https://github.com/Candido-Cavaleiro">
                      <div
                          class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="../../assets/img/github.png" alt=""
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/in/cândido-cavaleiro-a559781b0/">
                      <div
                          class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-1s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>
              <div class="nome-membro">
                  <h5 class="text-center">Candido Cavaleiro</h5>
              </div>
          </div>
          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 pr-4 pl-2">
              <div class="img-container d-flex">
                  <div class="conteudo">
                      <img src="../../assets/img/pp.png" alt="">
                  </div>
              </div>
              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="../../assets/img/github.png" alt=""
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-1s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>
              <div class="nome-membro">
                  <h5 class="text-center">Gustavo Lima</h5>
              </div>
          </div>
          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 pr-4 pl-2">
              <div class="img-container d-flex">
                  <div class="conteudo">
                      <img src="../../assets/img/pp.png" alt="">
                  </div>
              </div>
              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="../../assets/img/github.png" alt=""
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
                  <a target="_blank" href="#">
                      <div
                          class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-1s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1"
                              style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>
              <div class="nome-membro">
                  <h5 class="text-center">Gustavo Lima</h5>
              </div>
          </div>
      </div>
  </div>
</section>
