<div class="container-fluid overflow-hidden " id="sobre">
  <div class="container ">
    <div class="row d-flex align-items-center  animacao esquerda">
      <div class="col-md-6 order-1 order-md-0 pt-3">
        <h2 class="subtitulo">Divulgue seu trabalho e encontre novos clientes e oportunidades</h2>
        <p class="mt-3 paragrafo">A Connecto te da a possibilidade de publicar e compartilhar todas suas tarefas e
          trabalhos ja feitos, a partir de publicações e repositórios. Ela te conecta a novas pessoas,
          novos
          clientes que estão em busca do que você tem para oferecer. </p>
          <a routerLink='/cadastrar' class="text-connecto">
            <h6 class="text-connecto">CADASTRE-SE ></h6>
               </a>
      </div>

      <div class="col-md-6 order-0 pt-3">
        <img src="https://i.imgur.com/gBsWScJ.png"
          class="img-fluid rounded img-saiba-mais" alt="exemplo dashboard">
      </div>
    </div>
    <div class="row d-flex align-items-center animacao direita">

      <div class="col-md-6 pt-3">

        <img src="https://i.imgur.com/kEzkXhu.png" alt="autônomo" class="img-fluid ">
      </div>

      <div class="col-md-6 pt-3">

        <h2 class="subtitulo">A melhor forma de divulgar o seu serviço</h2>
        <p class="mt-3 paragrafo">A connecto disponibiliza para você autônomo uma área de postagens e portifólios,
          onde
          você poderá ter uma colecão de fotos com os seus serviços, que ficará disponível para todos os
          contratantes.
        </p>
        <a routerLink='/cadastrar' class="text-connecto">
          <h6 class="text-connecto">CADASTRE-SE ></h6>
             </a>
      </div>
    </div>

    <div class="row d-flex align-items-center animacao esquerda">

      <div class="col-md-6 order-1 order-md-0 pt-3">
        <h2 class="subtitulo">Todos os serviços que você procura em um só lugar</h2>
        <p class="mt-3 paragrafo">Você contratante tem acesso aos mais variados serviços. A connecto disponibiliza uma
          gama de categorias, para você encontrar o serviço certo quando for necessário. </p>
          <a routerLink='/cadastrar' class="text-connecto">
        <h6 class="text-connecto">CADASTRE-SE ></h6>
           </a>
      </div>

      <div class="col-md-6 order-0 pt-3">
        <img src="https://i.imgur.com/qVhefx9.png" class="img-fluid" alt="contratante">
      </div>

    </div>
    <div class="row d-flex align-items-center animacao direita ">

      <div class="col-md-6 pt-3">

        <img src="https://i.imgur.com/1THSv8o.png" alt="autônomo" class="img-fluid ">
      </div>

      <div class="col-md-6 pt-3">
        <h2 class="subtitulo">Negocie diretamente com o prestador de serviços</h2>
        <p class="mt-3 paragrafo">Aqui você terá a flexibilidade de negociar o serviço diretamente com o
          prestador,
          sem nenhum intermediário. A Connecto te possibilita a liberdade de negociação de valores e
          propostas.
        </p>
        <a routerLink='/cadastrar' class="text-connecto">
          <h6 class="text-connecto">CADASTRE-SE ></h6>
             </a>


      </div>
    </div>
  </div>
</div>
