<div class="container mt-3">
    <div class="row">
        <div class="col-11  m-auto bg-white p-4 bd card-new-post shadow">
            <div class="container-post">
                <form class="post">
                    <div class="d-flex justify-content-between p-1 container-news">
                        <div class="img-nova-post">
                            <img class="rounded-circle mr-1" src="../../assets/img/foto.jpeg" alt="Foto de perfil" width="50px" height="50px">
                        </div>
                        <textarea onfocus="aparecer()" cols="94" rows="2" placeholder="Escreva sua postagem" style="resize: vertical; height: auto;" maxlength="3000"></textarea>
                    </div>
                    <div class="sumir mt-3">
                        <div class="link-foto b-b">
                            <label for="link-foto "> Link Foto </label>
                            <input type="text">
                        </div>

                        <div class=" p-1 b-b d-flex justify-content-between check-checkbox ">
                            <div class="select">
                                <select id="tipo-post"> <option value="Post Normal">Post Normal</option><option value="Post Servico"> Post Serviço</option></select>
                            </div>

                            <div class="check d-flex ">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="autonomo">
                                    <label class="form-check-label" for="autonomo">
                                                Autônomo
                                              </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="contratante" checked>
                                    <label class="form-check-label" for="contratante">
                                                Contratante
                                              </label>
                                </div>
                            </div>

                        </div>

                        <div id="botao" class="botao sumir d-flex justify-content-end mt-3">
                            <button> Postar</button>
                            <button class="ml-3"> Cancelar</button>
                        </div>


                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
