body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.post,
.img img {
    border-radius: 0.8rem;
}

.etiqueta {
    width: 100px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: rgba(109, 44, 144, 0.97);
    display: flex;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    align-items: center;
}

.etiqueta p {
    padding: 0;
    color: white;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.texto h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.texto p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.list-icones li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.4s;
}

.list-icones li:hover {
    color: #6D2C90;
}

.zap {
    color: rgb(44, 44, 44);
    text-decoration: none;
    transition: 0.4s;
}

.zap:hover {
    color: #6D2C90;
}

.gostei.ativo {
    color: #6D2C90;
}

.comentario {
    display: none;
}

.conteudo {
    margin-left: 35px;
    width: 550px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.30);
    display: flex;
    justify-content: start;
    padding-left: 25px;
    align-items: center;
}

.container-news #text-area-post {
    outline: auto #6D2C90;
}

.comentario .container-news img {
    height: 30px;
    width: 30px;
}

@media (max-width: 575.98px) {
    .texto {
        padding: 0;
    }
    .texto h4 {
        font-size: 1rem;
    }
    .texto p {
        font-size: 15px;
        margin: 0;
    }
    .img-avatar {
        padding: 0;
    }
    .img-avatar img {
        width: 30px;
        height: 30px;
    }
    .etiqueta {
        transform: scaleX(0.7);
        top: 0;
        right: 0px;
    }
    .conteudo {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .list-icones li,
    .a {
        font-size: 14px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .header {}
    .header h5 {
        font-size: 1rem;
        margin: 0;
    }
    .header p,
    .conteudo {
        width: 320px;
        height: 50px;
    }
    .conteudo p {
        font-size: 12px;
        width: 80%;
        margin: 0;
    }
}