<div class="mt-5">
    <div class="row ">
        <div class="col-md-11 col-sm-12  m-auto bg-white post shadow-sm ">

            <div *ngIf="editarModal" class="dropdown d-flex justify-content-end">
                <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ...
        </button>
                <div class="dropdown-menu ml-auto" aria-labelledby="dropdownMenuButton">

                    <!-- Button trigger modal -->

                    <button (click)="findAllTema()" (click)="postagemModal()" type="button" class="btn botao-categoria dropdown-item" data-toggle="modal" data-target="#editar">
                     Editar
                    </button>

                    <button type="button " data-toggle="modal" data-target="#excluir" class="btn botao-categoria dropdown-item">
                       Excluir
                     </button>
                    <ng-content id="id" select=".id"> </ng-content>
                </div>
                <!-- Modal -->
                <div class="modal fade p-0 " id="editar" tabindex="-1" aria-labelledby="editar" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Postagem</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group d-flex flex-column">
                                        <label for="postagem"> Postagem</label>
                                        <textarea [(ngModel)]="postagem.descricaoPost" class="text-area" name="postagem" id="postagem" cols="50" rows="5"></textarea>
                                    </div>
                                    <div class="form-group d-flex flex-column">
                                        <label for="link-foto"> Link Foto </label>
                                        <input [(ngModel)]="postagem.linkImagem" class="link-foto " type="text" name="link-foto">
                                    </div>
                                    <div class="form-group d-flex flex-column">
                                        <label for="link-foto"> Escolha uma categoria </label>
                                        <select name="categoria" id="categoria" [(ngModel)]="idTema" (change)="findByIdTema()">
                                          <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.categoria}}</option>
                                        </select>

                                    </div>
                                    <div class="form-group d-flex flex-column">
                                        <div class="check d-flex  ">
                                            <div class="form-check">
                                                <input (click)="prestador($event)" value="disponivel" class="form-check-input" type="radio" id="autonomo" name="tipo-servico">
                                                <label class="form-check-label" for="autonomo">Disponivel para serviço</label>
                                            </div>
                                            <div class="form-check">
                                                <input (click)="prestador($event)" value="buscando" class="form-check-input" type="radio" id="contratante" name="tipo-servico">
                                                <label class="form-check-label" for="contratante">Buscando profisional</label>
                                            </div>
                                        </div>

                                    </div>


                                </form>
                            </div>
                            <div class="modal-footer">

                                <button (click)="publicar()" type="button" class="btn " data-dismiss="modal">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade p-0 " id="excluir" tabindex="-1" aria-labelledby="excluir" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Excluir Postagem</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                          </div>
                          <div class="modal-body">
                              <h4 class="text-center">Deseja mesmo excluir essa postagem?</h4>
                          </div>
                          <div class="modal-footer">
                              <button (click)="excluirPostagem()" type="button" class="btn " data-dismiss="modal">Excluir</button>
                          </div>
                      </div>
                  </div>
              </div>




            </div>




            <div class="row px-3 pt-md-5 pt-sm-3 ">

                <div class=" col-md-12 col-sm-12 texto mt-2">

                    <div class=" img-avatar d-flex align-items-center mb-md-2">
                        <ng-content select=".foto"></ng-content>
                        <ng-content select=".nome"></ng-content>

                    </div>
                    <ng-content></ng-content>
                    <div class="img">
                        <ng-content></ng-content>
                    </div>
                    <div class="interacoes mt-3">
                        <ul class="d-flex justify-content-around list-icones p-0">
                            <li class="gostei" (click)="curtir()">
                                <fa-icon [icon]="faThumbsUp"></fa-icon> Gostei
                            </li>
                            <li (click)="clicado()">
                                <fa-icon [icon]="faComments"></fa-icon>Comentar <span *ngIf="postagem.comentario.length != 0"
                                >({{postagem.comentario.length}}) </span>
                            </li>
                            <li>
                                <ng-content select='.zap'></ng-content>
                            </li>
                        </ul>
                    </div>
                    <div class="colocar">






                    </div>


                    <div class="comentario collapse">
                      <div *ngFor="let comentario of postagem.comentario" class="comentario-post pt-md-3">
                        <div class="header d-flex ">
                            <div class="img-comentario mr-2">
                                <img class="rounded-circle " src="{{comentario.usuario.fotoPerfil}}" alt="" width="30px" height="30px">
                            </div>
                            <h5 class="mr-1 mt-0">{{comentario.usuario.nomeCompleto}}</h5>
                            <span class="">comentou</span>
                            <div *ngIf="comentario.usuario.id == idUserLogado" class="d-flex justify-content-end">
                             <a class="text-danger ml-5"(click)='apagarComentario(comentario.id)'>Excluir</a>
                            </div>
                          </div>
                          <div class="conteudo">
                            <p class="p-md-0 m-md-0">{{comentario.comentario}}</p>
                          </div>


                    </div>
                        <div class="d-flex justify-content-between p-1 container-news mt-3">
                            <div class="img-comentario">
                                <img class="rounded-circle mr-1" src="{{foto}}" alt="Foto de perfil" width="30px" height="30px">
                            </div>
                            <textarea id="text-area-post" cols="94" rows="2" placeholder="Escreva seu comentario" [(ngModel)]="comentario.comentario"></textarea>
                        </div>
                        <div id="botao" class="botao  d-flex mt-3">
                            <button (click)="comentar(this.data)">Postar</button>
                            <button (click)="sumir()" class="ml-3"> Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="etiqueta">
                <ng-content select=".etiqueta"></ng-content>
            </div>
            <div class="etiqueta2">
                <ng-content select=".etiqueta2"></ng-content>
            </div>

        </div>

    </div>

</div>
